Repository kubesphere/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-test-infra-deploy-prow, post-test-infra-update-config, post-test-infra-reconcile-hmacs

config/jobs/kubesphere/test-infra/test-infra-postsubmits.yaml:

postsubmits:
  kubesphere/test-infra:
  - name: post-test-infra-deploy-prow
    run_if_changed: 'config/prow/cluster/'
    decorate: true
    branches:
    - ^master$
    max_concurrency: 1
    reporter_config:
      slack:
        channel: "prow"
        job_states_to_report:
        - success
        - failure
        - aborted
        - error
        report_template: 'Deploying prow: {{.Status.State}}. <{{.Spec.Refs.BaseLink}}|Commit {{.Spec.Refs.BaseSHA}}> <{{.Status.URL}}|View logs> <https://testgrid.k8s.io/sig-testing-prow#deploy-prow|Job history on Testgrid>'
    spec:
      serviceAccountName: deployer
      containers:
      - image: kubesphere/build-tools:master-latest
        command:
        - make 
        - -C
        - config/prow
        - deploy
  
  - name: post-test-infra-update-config
    run_if_changed: '^config/(jobs/.*\.yaml$|prow/[\w_]*.yaml$)'
    decorate: true
    branches:
    - ^master$
    max_concurrency: 1
    reporter_config:
      slack:
        channel: "prow"
        job_states_to_report:
        - success
        - failure
        - aborted
        - error
        report_template: 'Update prow config: {{.Status.State}}. <{{.Spec.Refs.BaseLink}}|Commit {{.Spec.Refs.BaseSHA}}> <{{.Status.URL}}|View logs> <https://testgrid.k8s.io/sig-testing-prow#deploy-prow|Job history on Testgrid>'
    spec:
      serviceAccountName: deployer
      containers:
      - image: kubesphere/build-tools:master-latest
        command:
        - make 
        - -C
        - config/prow
        - update-job-config
        - update-config
        - update-plugins

  - name: post-test-infra-reconcile-hmacs
    run_if_changed: 'config/prow/config.yaml'
    decorate: true
    branches:
    - master
    spec:
      containers:
      - image: gcr.io/k8s-prow/hmac:v20200622-168a90f1b0
        command:
        - /hmac
        args:
        - --config-path=config/prow/config.yaml
        - --hook-url=https://prow.kubesphere.io/hook
        - --hmac-token-secret-name=hmac-token
        - --hmac-token-key=hmac
        - --kubeconfig=/etc/kubeconfig/config
        - --kubeconfig-context=prow-services
        - --github-token-path=/etc/github/oauth
        - --github-endpoint=http://ghproxy.default.svc.cluster.local
        - --github-endpoint=https://api.github.com
        - --dry-run=false
        volumeMounts:
        - name: kubeconfig
          mountPath: /etc/kubeconfig
          readOnly: true
        - name: oauth
          mountPath: /etc/github
          readOnly: true
      volumes:
      - name: kubeconfig
        secret:
          defaultMode: 420
          secretName: kubeconfig
      - name: oauth
        secret:
          defaultMode: 420
          secretName: oauth-token

add update postsubmits jobs for test-infra
  config/jobs/kubesphere/kubesphere/kubesphere-postsubmits.yaml
  config/jobs/kubesphere/test-infra/test-infra-postsubmits.yaml
  config/jobs/periodics.yaml
  config/prow/Makefile
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/cherrypicker_service.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/crier_rbac.yaml
  config/prow/cluster/crier_service.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/deck_rbac.yaml
  config/prow/cluster/deck_service.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/hook_rbac.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/horologium_rbac.yaml
  config/prow/cluster/horologium_service.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/needs-rebase_service.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/prow_controller_manager_rbac.yaml
  config/prow/cluster/prow_controller_manager_service.yaml
  config/prow/cluster/prowjob_customresourcedefinition.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/sinker_rbac.yaml
  config/prow/cluster/sinker_service.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/statusreconciler_rbac.yaml
  config/prow/cluster/test-pods_namespace.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/cluster/tide_rbac.yaml
  config/prow/cluster/tide_service.yaml
  config/prow/cluster/tls-ing_ingress.yaml
  config/prow/update-job-config.sh
Due: post-test-infra-deploy-prow, post-test-infra-update-config

add docker credential preset
  config/jobs/kubesphere/kubesphere/kubesphere-postsubmits.yaml
  config/jobs/kubesphere/test-infra/test-infra-postsubmits.yaml
  config/prow/config.yaml
Due: post-test-infra-update-config, post-test-infra-reconcile-hmacs

add label to prow configs
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/cherrypicker_service.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/crier_rbac.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/deck_rbac.yaml
  config/prow/cluster/deck_service.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/hook_rbac.yaml
  config/prow/cluster/hook_service.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/horologium_rbac.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/needs-rebase_service.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/prow_controller_manager_rbac.yaml
  config/prow/cluster/prowjob_customresourcedefinition.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/sinker_rbac.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/statusreconciler_rbac.yaml
  config/prow/cluster/test-pods_namespace.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/cluster/tide_rbac.yaml
  config/prow/cluster/tide_service.yaml
  config/prow/cluster/tls-ing_ingress.yaml
Due: post-test-infra-deploy-prow

remove trailing spaces
  config/jobs/kubesphere/test-infra/test-infra-postsubmits.yaml
  config/prow/cluster/crier_deployment.yaml
Due: post-test-infra-deploy-prow, post-test-infra-update-config

fix kubesphere operiodicly image building
  config/jobs/kubesphere/kubesphere/kubesphere-postsubmits.yaml
Due: post-test-infra-update-config

fix test-infra postsubmit job branch, master->main
  config/jobs/kubesphere/test-infra/test-infra-postsubmits.yaml
Due: post-test-infra-update-config

add milestone maintainer team
  config/prow/plugins.yaml
Due: post-test-infra-update-config

add kubebuilder bin directory to PATH
  images/build-tools/Dockerfile
Due: none

add namespace explicitly to kubectl
  config/prow/Makefile
  config/prow/update-job-config.sh
Due: none

add console presubmit job
  config/jobs/kubesphere/console/console-presubmits.yaml
Due: post-test-infra-update-config

add documentation on how to write prowjobs
  README.md
  config/jobs/README.md
  config/prow/README.md
Due: none

update slack reporter channel
  config/prow/plugins.yaml
Due: post-test-infra-update-config

change always_run to false
  config/jobs/kubesphere/console/console-presubmits.yaml
Due: post-test-infra-update-config

fix the wrong command
  config/jobs/kubesphere/console/console-presubmits.yaml
Due: post-test-infra-update-config

fix extra space
  config/jobs/kubesphere/console/console-presubmits.yaml
Due: post-test-infra-update-config

update test readme
  config/prow/README.md
Due: none

fix docker credential preset mount path
  config/prow/config.yaml
Due: post-test-infra-update-config, post-test-infra-reconcile-hmacs

fix kubesphere postsubmit job presets
  config/jobs/kubesphere/kubesphere/kubesphere-postsubmits.yaml
Due: post-test-infra-update-config

remove test-infra reconcile hmacs postsubmit job
  config/jobs/kubesphere/test-infra/test-infra-postsubmits.yaml
Due: post-test-infra-update-config

add trailing space at the end of the file
  config/jobs/kubesphere/test-infra/test-infra-postsubmits.yaml
Due: post-test-infra-update-config

add console postsubmits job
  config/jobs/kubesphere/console/console-postsubmits.yaml
Due: post-test-infra-update-config

fix secrets projected volume readonly error
  config/prow/config.yaml
Due: post-test-infra-update-config, post-test-infra-reconcile-hmacs

fix typo and set global env
  config/jobs/kubesphere/console/console-postsubmits.yaml
Due: post-test-infra-update-config

fix typo
  config/jobs/kubesphere/console/console-postsubmits.yaml
Due: post-test-infra-update-config

fix docker credential mount location
  config/prow/config.yaml
Due: post-test-infra-update-config, post-test-infra-reconcile-hmacs

fix docker buildx
  config/jobs/kubesphere/kubesphere/kubesphere-postsubmits.yaml
  config/prow/config.yaml
Due: post-test-infra-update-config, post-test-infra-reconcile-hmacs

fix indentation of config.yaml
  config/prow/config.yaml
Due: post-test-infra-update-config, post-test-infra-reconcile-hmacs

update OWNERS
  OWNERS
Due: none

add branch validation for console job
  config/jobs/kubesphere/console/console-postsubmits.yaml
  config/jobs/kubesphere/console/console-presubmits.yaml
Due: post-test-infra-update-config

Add more plugins for kubesphere/ks-devops repo
  config/prow/plugins.yaml
Due: post-test-infra-update-config

add label sync job
  config/jobs/kubesphere/test-infra/test-infra-postsubmits.yaml
  config/prow/Makefile
  config/prow/labels.yaml
Due: post-test-infra-update-config

token throttled due to large number of repos under org, sync only selected repos
  config/jobs/kubesphere/test-infra/test-infra-postsubmits.yaml
Due: post-test-infra-update-config

Add label require-ui-text-review.
  config/prow/labels.yaml
Due: post-test-infra-update-config

Change description of label require-ui-text-review to fix a problem.
  config/prow/labels.yaml
Due: post-test-infra-update-config

add kind prefix to ui_text_review label
  config/prow/labels.yaml
Due: post-test-infra-update-config

add e2e test
  config/jobs/kubesphere/kubesphere/kubesphere-postsubmits.yaml
  config/jobs/kubesphere/kubesphere/kubesphere-presubmits.yaml
Due: post-test-infra-update-config

fix always_run
  config/jobs/kubesphere/kubesphere/kubesphere-presubmits.yaml
Due: post-test-infra-update-config

fix kubesphere postsubmit build
  config/jobs/kubesphere/kubesphere/kubesphere-postsubmits.yaml
Due: post-test-infra-update-config

Add additional_labels for label plugin
  config/prow/plugins.yaml
Due: post-test-infra-update-config

Add no-changelog to be an additional label
  config/prow/plugins.yaml
Due: post-test-infra-update-config
